<div content-data *ngIf="location">
    <div
        row
        *ngIf="location.name"
    >
        <div label>Place</div>
        <div value>
            <span>{{ location.name }}</span>
        </div>
    </div>
    <div
        row
        *ngIf="location.city"
    >
        <div label>City</div>
        <div value>
            <span>{{ location.city }}</span>
        </div>
    </div>
    <div
        row
        *ngIf="location.postCode"
    >
        <div label>Post Code</div>
        <div value>
            <span>{{ location.postCode }}</span>
        </div>
    </div>
    <div
        row
        *ngIf="location.country"
    >
        <div label>Country</div>
        <div value>
            <span>{{ location.country }}</span>
            <app-flag
                [isoCode]="location.country_iso"
                *ngIf="location.country_iso"
            ></app-flag>
        </div>
    </div>

    <div
        row
        *ngIf="location.subdivisions"
    >
        <div
            label
            matTooltip="Region"
        >
            Region
        </div>
        <div value>
            <span>{{ location.subdivisions }}</span>
        </div>
    </div>
    <div
        row
        *ngIf="location.location"
    >
        <div label>GPS</div>
        <div value>
            <button
                mat-button
                (click)="onOpenMap($event)"
            >
                <mat-icon>map</mat-icon>
                map
            </button>
            <button
                mat-button
                [cdkCopyToClipboard]="gps || ''"
                (cdkCopyToClipboardCopied)="onCopy($event)"
            >
                <mat-icon>content_copy</mat-icon>
                gps
            </button>
        </div>
    </div>
    <div
        row
        *ngIf="location.timezone"
    >
        <div label>Timezone</div>
        <div value>
            <span>{{ location.timezone }}</span>
        </div>
    </div>
</div>
<div content>
    <ng-content></ng-content>
</div>
