:host {

    width: 100%;

    mat-progress-bar {
        height: auto;

        &[loading="true"] {
            height: 0.1rem;
        }
    }


    [mat-card-image] {
        min-width: 768px;
        min-height: 512px;
    }
}