<form
    (keydown.enter)="triggerSubmit($event)"
    (ngSubmit)="submitForm()"
>
    <mat-form-field>
        <mat-label ali>IP,Hostname,Address or Goordinates</mat-label>
        <input
            matInput
            spellcheck="false"
            autocomplete="off" 
            [formControl]="geoInput"
        >
    </mat-form-field>
    <mat-form-field>
        <mat-label ali>IP,Hostname,Address or Goordinates</mat-label>
        <input
            matInput
            spellcheck="false"
            autocomplete="off" 
            [formControl]="geoInput"
        >
    </mat-form-field>
</form>
