:host {

    [mat-card-image] {
        background-image: url('/assets/b/northwich.png');
        margin-bottom: 1em;
        &[loaded] {
            height: 20rem;
        }

    }



    [row] {
        display: grid;
        grid-template-columns: 5rem 1fr;
        column-gap: 1rem;

        div {
            display: flex;
            column-gap: 0.3rem;
        }

        [label] {
            justify-content: flex-end;
            font-size: 80%;
            font-variant: small-caps;
        }

        [value] {
            mat-icon {
                cursor: pointer;
            }
        }
    }

}