:host {

    [row] {
        display: grid;
        grid-template-columns: 5rem 1fr;

        [label] {
            font-size: 80%;
            font-variant: small-caps;
            text-align: right;
            padding-right: 1rem;
        }

        [value] {
            font-weight: bold;
        }
    }

}