@use "sass:map";
@use "@angular/material" as mat;
@use "sass:color";
@use "../mixins.scss" as mix;

@mixin apply-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background-palette: map-get(
    $map: $color-config,
    $key: background,
  );
  mat-toolbar {
    &.mat-toolbar {
      border: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 0 !important;
      background: color.adjust(
        mat.get-color-from-palette($background-palette, app-bar),
        $alpha: -1
      );
      &.fullview {
        section[right],
        section[left] button:not([fullview]) {
          @include mix.fullview();
        }
        background: transparent;
      }

      section {
        height: 49px;
        display: flex;
        align-items: center;
        background: color.adjust(
          mat.get-color-from-palette($background-palette, app-bar),
          $alpha: -0.4
        );
        &[left] {
          border-top-right-radius: 1em;
          border-bottom-right-radius: 1em;
        }
        &[right] {
          border-top-left-radius: 1em;
          border-bottom-left-radius: 1em;
          padding: 0 1em;
          column-gap: 0.4em;
        }
        &:hover {
          background-color: color.adjust(
            mat.get-color-from-palette($background-palette, app-bar),
            $alpha: -0.2
          );
          cursor: pointer;
        }
      }

      @media (max-width: 575.98px) {
        background: color.adjust(
          mat.get-color-from-palette($background-palette, app-bar),
          $alpha: -0.4
        );
        section {
          background: transparent;
        }
      }

      [debug] {
        display: -webkit-box;
        line-clamp: 1;
        overflow-y: hidden;
        div {
          font-variant: small-caps;
        }
      }
    }
    .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
    .mat-button-toggle-group-appearance-standard {
      border: none;
    }
    .mat-button-toggle-group-appearance-standard
      .mat-button-toggle-appearance-standard
      + .mat-button-toggle-appearance-standard {
      border: none;
    }
    .mat-button-toggle-appearance-standard {
      background-color: unset;
    }
  }
}
