:host {
  .container.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    transition: all 0.2s ease-in-out;
    animation-name: scrolling;
    animation-duration: 30s;
    animation-iteration-count: infinite;

    padding: 0;


    @media (min-aspect-ratio: 2/1) {
      background-size: 100vw auto;
    }

    section {
        width: 100%;
    }

    &.loading {
      animation-name: loading;
      animation-duration: 4s;
      background-blend-mode: color-burn;
      animation-iteration-count: infinite;
      transition: background-color 1s;
      background-color: rgba(0, 0, 0, 0);
    }

    app-connection {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }


  @keyframes scrolling {
    0% {
     background-position-x: left;
    }

    50% {
      background-position-x: right;
    }

    100% {
      background-position-x: left;
    }
  }

  @keyframes loading {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }

    25% {
      background-color: rgba(0, 0, 0, 0.5);
    }

    50% {
      background-color: rgba(0, 0, 0, 0);
    }

    75% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  button[renew] {
    display: none;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    @media (hover: hover) {
      display: block;
    }
  }
  // mat-icon {
  //     &:hover {
  //         cursor: pointer;
  //         filter: drop-shadow(0 0 0.15em var(--font-color));
  //     }
  // }
}
