<app-loader *ngIf="loader.visible | async"></app-loader>
<mat-toolbar>
    <section left>
        <button
            mat-icon-button
            (click)="onFullView()"
        >
            <mat-icon>
                {{fullview ? 'visibility' : 'visibility_off'}}
            </mat-icon>
        </button>
        <button
            mat-icon-button
            (click)="onRenew()"
        >
            <mat-icon>cached</mat-icon>
        </button>
    </section>

    <span class="spacer"></span>
    <section right>
        <mat-button-toggle-group
        appearance="legacy"
            [ngModel]="storage.mode"
            (change)="onModeSwitch($event)"
        >
            <mat-button-toggle
                value="{{queryMode.IP}}"
                aria-label="By IP"
            >
                <mat-icon>globe</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle
                value="{{queryMode.GPS}}"
                aria-label
            >
                <mat-icon>my_location</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle
                value="{{queryMode.MANUAL}}"
                aria-label
            >
                <mat-icon>edit_note</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
        <app-error *ngIf="error"></app-error>
    </section>

</mat-toolbar>
<div
    class="container main"
    [class.fullview]="fullview"
    [locationbg]="$background | async"
>
    <router-outlet></router-outlet>
</div>
