:host {
  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
  }
  .container.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
    padding: 64px 0 0 0;

    section {
        width: 100%;
    }

    &.loading {
      animation-name: loading;
      animation-duration: 4s;
      background-blend-mode: color-burn;
      animation-iteration-count: infinite;
      transition: background-color 1s;
      background-color: rgba(0, 0, 0, 0);
    }

    app-connection {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }

  @keyframes loading {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }

    25% {
      background-color: rgba(0, 0, 0, 0.5);
    }

    50% {
      background-color: rgba(0, 0, 0, 0);
    }

    75% {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  button[renew] {
    display: none;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    @media (hover: hover) {
      display: block;
    }
  }
  // mat-icon {
  //     &:hover {
  //         cursor: pointer;
  //         filter: drop-shadow(0 0 0.15em var(--font-color));
  //     }
  // }
}
