<app-loader *ngIf="loader.visible | async"></app-loader>
<mat-toolbar>
    <section left>
        <button
            mat-icon-button
            (click)="onFullView()"
        >
            <mat-icon>
                {{fullview ? 'visibility' : 'visibility_off'}}
            </mat-icon>
        </button>
        <button
            mat-icon-button
            (click)="onRenew()"
        >
            <mat-icon>cached</mat-icon>
        </button>
    </section>

    <span class="spacer"></span>
    <section right>
        <mat-slide-toggle
            (change)="onModeSwitch($event)"
        >
            <div debug>
                <div *ngFor="let msg of messages">{{msg}}</div>
            </div>
        </mat-slide-toggle>

        <app-error *ngIf="error"></app-error>
    </section>

</mat-toolbar>
<div
    class="container main"
    [class.fullview]="fullview"
    [locationbg]="$background | async"
>
    <section>
        <!-- <app-ipinfo
            [lookup]="lookup"
            *ngIf="$lookup | async as lookup"
            [class.fullview]="fullview"
            [class.inactive]="mode!=queryMode.IP"
        >
        </app-ipinfo>
        <app-locationinfo
            [hidden]="mode!=queryMode.GPS"
            [location]="location"
            *ngIf="$location | async as location"
            [class.fullview]="fullview"
            [class.inactive]="mode!=queryMode.GPS"
        ></app-locationinfo> -->
    </section>
    <router-outlet></router-outlet>
</div>
