@use "@angular/material" as mat;
@use "theme/components/ipinfo" as myipinfo;
@use "theme/components/locationinfo" as mylocationinfo;
@use "theme/components/query-button" as myquerybutton;
@use "theme/components/toolbar" as mytoolbar;
@use "theme/components/geo-input" as mygeoinput;
@use "theme/components/geoview" as mygeoview;
@use "sass:map";
@include mat.core();

$theme-primary: mat.define-palette(mat.$teal-palette, 400);
$theme-accent: mat.define-palette(mat.$cyan-palette, 600);
$theme-warn: mat.define-palette(mat.$red-palette, 300);
$custom-typography: mat.define-typography-config(
  $font-family: "Syne Mono",
);

$mytheme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography: $custom-typography,
  )
);

@include mat.core-theme($mytheme);
@include mat.all-component-bases($mytheme);
@include mat.all-component-colors($mytheme);
@include mat.all-component-typographies($mytheme);
@import "@egjs/view360/css/view360.min.css";
@import "theme/components/app-truncate";
@import "theme/components/spacer";

@include myipinfo.apply-theme($mytheme);
@include myquerybutton.apply-theme($mytheme);
@include mylocationinfo.apply-theme($mytheme);
@include mytoolbar.apply-theme($mytheme);
@include mygeoinput.apply-theme($mytheme);
@include mygeoview.apply-theme($mytheme);
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  font-size-adjust: 0.7;
  overscroll-behavior: none;
  user-select: none;
  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
}

// img {
//   width: auto;
//   max-width: 100%;
// }

// header[title] {
//   padding: 1em 0;
//   font-size: 120%;
//   font-weight: bold;
//   font-variant: small-caps;
// }

// @media only screen and (max-width: 30em) {
//   .terminal-nav {
//     flex-direction: row;
//     align-items: center;
//   }
// }

// [timestamp] {
//   font-size: 60%;
//   font-kerning: 0.7;
//   text-transform: uppercase;
// }

// [username] {
//   font-kerning: 0.7;
//   font-variant: small-caps;
//   font-size: 80%;
//   font-weight: bold;
// }

// div.terminal-card {
//   >header {
//     color: var(--font-color);
//   }
// }

// table {

//   td,
//   td {
//     border: none;
//   }
// }

// .lb-controlContainer {
//   display: none;
// }



// .search-overlay {
//   flex-grow: 1;
//   justify-content: center;
//   align-items: center;

//   form {
//     display: flex;
//     flex-grow: 1;
//     align-items: center;
//     justify-content: center;

//     mat-form-field {
//       width: 90%;
//       max-width: 500px;

//       input {
//         font-family: var(--font-stack);
//         font-size: 2em;
//         text-transform: lowercase;
//         font-variant: small-caps;
//       }
//     }
//   }
// }

// .mat-expansion-panel {
//   color: var(--font-color);

//   .mat-expansion-panel-content {
//     font-size: var(--global-font-size);
//     line-height: var(--global-line-height);
//     padding: 0;

//     >.mat-expansion-panel-body {
//       padding: 0;
//       font-size: var(--global-font-size);
//       line-height: var(--global-line-height);
//     }
//   }

//   [timestamp] {
//     font-size: 70%;
//   }
// }

// .mat-expansion-panel-header {
//   &[aria-expanded="false"] {
//     app-avatar {
//       [photo] {
//         height: 2em;
//         width: 2em;
//       }
//     }
//   }
// }

// .terminal-card {
//   font-size: 1.1rem;
//   border-radius: 1em;

//   .terminal-card-header {
//     height: unset;
//     text-align: center;
//     font-size: var(--global-font-size);
//     line-height: var(--global-line-height);
//     padding: 0.5em 0;
//     padding: 0;

//     app-header-user {
//       flex: 1;
//       padding: 0.8em;
//     }
//   }

//   [content] {
//     padding: 0.8em;
//   }

//   app-attachments {
//     padding: 0.8em;
//   }
// }
